.info{
    width: 93%;
    /* height: 100%; */
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table{
    width:60%;
    min-height:50%;
    margin-top: 40px;
    border-spacing: 0px;
}

table thead{
    background-color:rgb(119, 106, 106);
}


td {    
    border-bottom: solid 1px #000; 
    word-wrap: break-word;
    height:35px;
    /* padding:5px; */
    /* padding-top:15px; */
}

tbody tr:last-child td{border:none}

.info p{
    margin:0px;
    font-size:1.7em;
}

hr{
    width:100%;
    margin:0px;
}

.search_wrapper{
    margin-top:30px;
    width:100%;
    display:flex;
    justify-content: center;
}

.search_wrapper *{
    margin-left:5px;
}
.search{
    width: 20%;
    margin-left: 10%;
}

.choose{margin-right:20px;}

select{
    /* height:15px; */
    margin:0px;
}

.group{
    background-color: bisque;
    display:none;
}

.group td{
    height: 15px;
}

.group_title{
    background-color: rgb(226, 177, 116);
    display:none;
}

.group_title td{
    height: 15px;
}
