.info{
    width: 93%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table{
    margin-bottom:auto;
    width:60%;
    margin-top: 40px;
    border-spacing: 0px;
    table-layout: fixed;
}

table thead{
    border: 1px solid;
}

table thead td{
    border-bottom: 1px solid rgb(238, 231, 231);
}

td {    
    border-bottom: solid 1px #000; 
    word-wrap: break-word;
    min-height:30px;
    padding:5px;
    padding-top:15px;
}

tbody tr:last-child td{border:none}


.info p{
    margin:0px;
    font-size:1.7em;
}

hr{
    width:100%;
    margin:0px;
}

.search_wrapper{
    margin-top:30px;
    width:100%;
    display:flex;
    justify-content: center;
}

.search_wrapper *{
    margin-left:5px;
}
.search{
    width: 20%;
    margin-left: 10%;
}

.choose{margin-right:20px;}

select{
    /* height:15px; */
    margin:0px;
}


