html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}

.outer_container{
    display: flex;
    min-height: 93%;
    width: 100%;
    background-color: red;
}

.header_and_content{
    min-height: 70%;
    display:flex;
    flex-direction:column;
    width:100%;
    margin: 0px;
}

.content{
    height: 100%;
    overflow: hidden;
    margin: 0px;
    display: flex;
    background-color:rgb(165, 177, 187);
    flex-direction: row;
}

.menu_text{
    margin-top: 2px;
    font-size: 1em;
    text-align: center;
}

.btn_1{
    width:22%;
    background-color: rgb(72, 160, 72);
    border-radius: 5px;
    border-color:rgb(72, 160, 72);
    color: white;
    overflow:clip;
    font-size:80%;
}

.btn_2{
    width:42%;
    height: 25px;
    background-color: rgb(156, 62, 62);
    border-color: rgb(156, 62, 62);
    border-radius: 4px;
    color: white;
    overflow:clip;
    font-size:80%;
}
